/* Custom CSS
-------------------------*/

/* The CSS for using the side region max width feature.
 * Inserted here because of an incompatibility with the
 * used less compilor and the CSS calc method.
 */

@media screen and (min-width: 1150px) {
    .two-column.side-regions-with-max-width #block-region-side-pre {
        width: 255px;
    }

    .two-column.side-regions-with-max-width #region-main {
        width: -moz-calc(100% - 2.5641% - 255px);
        width: -webkit-calc(100% - 2.5641% - 255px);
        width: calc(100% - 2.5641% - 255px);
    }
}

@media screen and (min-width: 1132px) {
    .three-column.side-regions-with-max-width.empty-region-side-post.used-region-side-pre #block-region-side-pre,
    .three-column.side-regions-with-max-width #block-region-side-pre,
    .three-column.side-regions-with-max-width #block-region-side-post {
        width: 255px;
    }
    .three-column.side-regions-with-max-width.empty-region-side-post.used-region-side-pre #region-main,
    .three-column.side-regions-with-max-width #region-main-box,
    .three-column.side-regions-with-max-width #region-main {
        width: -moz-calc(100% - 2.5641% - 255px);
        width: -webkit-calc(100% - 2.5641% - 255px);
        width: calc(100% - 2.5641% - 255px);
    }
}

/* Fixes for the page footer. */
#page.container-fluid {
    min-height: calc(100vh - 60px);
}

#page.container-fluid #page-content {
    -webkit-flex: 1 1 auto;
}

/* Code to compute the width of the input field.
 * Inserted here because of an incompatibility with the
 * used less compilor and the CSS calc method.
 */

.blogsearchform input[type=text],
.adminsearchform input[type=text],
.block_search_forums .searchform #searchform_search {
    width: calc(100% - 38px);
    max-width: none;
}

#enrolusersearch,
#personsearch input[type=text],
#tag-search-box input[type=text],
#coursesearch2 .coursesearchbox input[type=text],
.searchform input[type=text] {
    width: calc(100% - 100px);
    max-width: 300px;
}

.lang-fr #coursesearch2 .coursesearchbox input[type=text] {
    width: calc(100% - 80px);
}
.lang-en #coursesearch2 .coursesearchbox input[type=text] {
    width: calc(100% - 55px);
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]
